[submodule "3rdparty/abseil-cpp"]
	path = 3rdparty/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
